nav.c-navbar
  .container
    .nav-wrapper
      a(href="index.html").c-navbar__logo
        img(src="dist/img/logo-tudu-pink.svg", alt="")
      ul#nav-mobile.left.hide-on-med-and-down
        li.right
          a(href="about.html").c-button.c-button--small.c-button-linear--second Hacer un pedido
