footer.c-footer.u-padding-top--m
  .container.center
    .c-footer__container
      .row
        .col.s12.m4
          a(href="#!") Términos y condiciones
        .col.s12.m4
          a(href="about.html") Sobre Túdu
        .col.s12.m4
          a(href="work.html") Trabaja con nosotros
        .col.s12
          a(href="#!")
            i.material-icons.icon-facebook
          a(href="#!")
            i.material-icons.icon-instagram
    .c-footer__copy
      p Horario de atención: Lunes a Viernes (9AM a 6PM), Sábados (9AM a 1PM)

