nav.c-navbar.c-navbar--fixed
  .container
    .nav-wrapper
      a(href="index.html").c-navbar__logo
        img(src="dist/img/logo-tudu.svg", alt="")
      ul#nav-mobile.left.hide-on-med-and-down
        li
          a(href="about.html") Sobre Tudú
        li
          a(href="#!") Hacer un pedido
        li
          a(href="work.html") Trabaja con Nosotros
        li.right
          a(href="login.html")
            i.material-icons.icon-user
