nav.c-navbar.c-navbar--fixed
  .container
    .nav-wrapper
      a.c-navbar__logo
        img(src="dist/img/logo-tudu.svg", alt="")
      ul#nav-mobile.left.hide-on-med-and-down
        li
          a(href="#!") Sobre Tudú
        li
          a(href="#!") Hacer un pedido
        li
          a(href="#!") Trabaja con Nosotros
        li.right
          a(href="#!")
            i.material-icons person
