.u{
  // directions for margins
  $boxmodel: ('margin', 'padding');
  $directions: ('top', 'bottom', 'left', 'right', 'tb', 'lr');
  $numbers: ('first','second','third','fourth');
  @each $model in $boxmodel{
    &-#{$model}{
      @each $value in $directions{
        &-#{$value}{
          @each $name, $item in $model-sizes{
            &--#{$name}{
              @if $value =='lr' {
                #{$model}-left : $item !important;
                #{$model}-right : $item !important;
              }
              @elseif $value == 'tb'{
                #{$model}-top : $item !important;
                #{$model}-bottom : $item !important;
              }
              @else{
                #{$model}-#{$value} : $item !important;
              }

            }
          }
        }
      }
    }
  }

  @each $number in $numbers{
    &-bg-#{$number} {
      background: var(--g-color-#{$number});
    }
    &-text-#{$number} {
      color: var(--g-color-#{$number});
    }
  }

  &-diagonal{
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - #{$diagonal-size}));

    @media #{$medium-and-down} {
      clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - #{$diagonal-size / 2}));
    }

    &--reverse{
      margin-top: -$diagonal-size;
      clip-path: polygon(0 0,100% #{$diagonal-size},100% 100%,0 100%);

      @media #{$medium-and-down} {
        clip-path: polygon(0 0,100% #{$diagonal-size / 2},100% 100%,0 100%);
      }
    }


  }
  &-text{
    &-medium{
      font-weight: 500;
    }
    &-semibold{
      font-weight: 600;

      @media #{$medium-and-down} {
        font-weight: 500;
      }
    }
  }
  &-container{
    &--small{
      max-width: 650px;
      margin: 0 auto;
    }
    &--medium{
      max-width: 850px;
      margin: 0 auto;
    }
  }
  &-separator{
    margin: .5em 0;
    background: $g-color-first;
    height: 1px;
    width: 100%;
    opacity: .5;
  }
}
