.u{
  // directions for margins
  $boxmodel: ('margin', 'padding');
  $directions: ('top', 'bottom', 'left', 'right', 'tb', 'lr');
  $numbers: ('first','second','third','fourth');
  @each $model in $boxmodel{
    &-#{$model}{
      @each $value in $directions{
        &-#{$value}{
          @each $name, $item in $model-sizes{
            &--#{$name}{
              @if $value =='lr' {
                #{$model}-left : $item;
                #{$model}-right : $item;
              }
              @elseif $value == 'tb'{
                #{$model}-top : $item;
                #{$model}-bottom : $item;
              }
              @else{
                #{$model}-#{$value} : $item;
              }

            }
          }
        }
      }
    }
  }

  @each $number in $numbers{
    &-bg-#{$number} {
      background: var(--g-color-#{$number});
    }
  }

  &-diagonal{
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 100px));

    &--reverse{
      margin-top: -100px;
      clip-path: polygon(0 0,100% 100px,100% 100%,0 100%);
    }
  }
}
