@font-face {
  font-family: 'icomoon';
  src:  url("#{$font-path}icomoon/icomoon.eot?tsyme4");
  src:  url("#{$font-path}icomoon/icomoon.eot?tsyme4#iefix") format('embedded-opentype'),
    url("#{$font-path}icomoon/icomoon.ttf?tsyme4") format('truetype'),
    url("#{$font-path}icomoon/icomoon.woff?tsyme4") format('woff'),
    url("#{$font-path}icomoon/icomoon.svg?tsyme4#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comunicacion:before {
  content: "\e900";
}
.icon-enfocate:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-hours:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-programa:before {
  content: "\e907";
}
.icon-nuevo:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-clock:before {
  content: "\e90a";
}
.icon-photo:before {
  content: "\e90b";
}
.icon-back:before {
  content: "\e90c";
}
.icon-more:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-call:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-pdf:before {
  content: "\e912";
}
.icon-logout:before {
  content: "\e913";
}
