h1{
  font-weight: 500;
  @media #{$medium-and-down} {
    font-size: 30px;
    font-weight: 600;
  }
}
h2{
  font-weight: 600;

  @media #{$medium-and-down} {
    font-size: 30px;
  }
}
h3{

}
h4{
  font-weight: 700;
}
h5{

}
h6{

}
h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
}
