include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Sobre tudú')
  body
    +navbar()

    header.c-banner.u-diagonal
      img(src="dist/img/image-about.png", alt="")
      .c-banner__container
        h1.c-banner__title.center Sobre Tudú
        h2.c-banner__subtitle Nadie tiene tiempo para hacer
          span todo lo que necesita hacer

    section.u-padding-tb--m
      .container.center
        .row
          .col.s12
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem placeat eveniet, enim, delectus est iusto minima praesentium laboriosam rerum expedita temporibus dolorem sunt officia quae eum eos, fugit pariatur quas.
            p Tudú quiere darle a sus usuarios superpoderes
    section.u-paddintg-top--l.u-padding-bottom--m
      .container.center
        .row
          .col.s12
            h2 Nuestro Equipo
          .col.s12.m6
            +teamMember('dist/img/image-user.png','Ruth Vallenas - CEO','Ruth ha liderado las operaciones y entrenamiento en empresas de servicios nacionales y franquicias internacionales por los últimos 15 años')
          .col.s12.m6
            +teamMember('dist/img/image-user.png','Daniela Arévalo -COO','Daniela diseñó y lidera las operaciones de La Victoria Lab, el laboratorio de innovación del grupo Intercorp, que tuvo un crecimiento de 8 a 50 personas en 2 años - con retos que esto implica.')
          .col.s12.m6.offset-m3
            +teamMember('dist/img/image-user.png','Eduardo Marisca - CTO','Eduardo viene liderando e incubando productos y servicios digitales en La Victoria Lab, el laboratorio de innovación del grupo Intercorp. Anteriormente, desarrolló en el MIT el primer estudio sistemático de la industria peruana de videojuegos como red de innovación periferica.')
    +newsletter('¿Quieres formar parte de nuestro equipo?', false, '', 'Únete', 'work.html')
    include blocks/footer


    include blocks/scripts
