include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include blocks/admin-navbar

    header
      .container
        .row.u-margin-top--m
          .col.s12
            h2.center Nuevo Pedido
          .col.s12
            form.row.c-form.c-form--left
              .c-form__input.col.s12
                input(type="text" placeholder="Título / descripción corta")
              .c-form__input.col.s12.m6
                input(type="text" placeholder="Dirección de recojo (si aplica)")
              .c-form__input.col.s12.m6
                ul.c-form__input-datetime
                  li
                    i.material-icons.icon-clock
                  li
                    label fecha de recojo
                    input(type="date")
                  li
                    label hora de recojo
                    input(type="time")
                //input(type="datetime-local" value="2017-06-01T08:30")
              .c-form__input.col.s12.m6
                input(type="text" placeholder="Dirección de entrega (si aplica)")
              .c-form__input.col.s12.m6
                ul.c-form__input-datetime
                  li
                    i.material-icons.icon-clock
                  li
                    label fecha de recojo
                    input(type="text")
                  li
                    label hora de recojo
                    input(type="text")
                //input(type="datetime-local" value="2017-06-01T08:30")
              .c-form__input.col.s12
                textarea(name="", cols="30", rows="10" placeholder="Descripción detallada del pedido")

              .col.s12.center
                a(href="#form-pay").c-button.icon-arrow.modal-trigger
                #form-pay.modal.c-modal
                  .modal-content
                    h2.center Pagar

                    .row
                      .c-tab.c-tab--blue.col.s12
                        ul.tabs
                          li.tab.col.s6
                            a(href="#payOnline").active En línea
                          li.tab.col.s6
                            a(href="#payTransference") Transferencia
                      .col.s12.u-padding-lr--none
                        .u-separator
                      #payOnline.col.s12.u-padding-lr--none
                        .row
                          .c-form__input.col.s12.m6
                            input(type="text" placeholder="Nombre del tarjetahabiente")
                          .c-form__input.col.s12.m6
                            input(type="text" placeholder="Número de tarjeta")
                          .c-form__input.col.s12.m6
                            input(type="text" placeholder="Nombre del tarjetahabiente")
                          .c-form__input.col.s12.m6
                            input(type="text" placeholder="Número de tarjeta")
                      #payTransference.col.s12.u-padding-lr--none
                        .row.left-align.c-modal__font
                          .col.s12.m4
                            p Número de cuenta:
                            p Interbank ahorros soles
                            span 234-455-677-778
                          .col.s12.m4
                            p Código interbancario:
                            span 234-455-677-778
                          .col.s12
                            label.valign-wrapper.u-margin-top--s
                              i.material-icons.icon-photo.u-text-second.u-margin-right--s
                              | subir foto de voucher
                              input(type="file")#inputPhoto.hide
                      .col.s12
                        button.c-login__button.c-button Pagar s/ 124.50



    include blocks/scripts
