include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    +navbarAdmin()

    header
      .container
        .row.u-margin-top--m
          .col.s12
            h2.center Nuevo Pedido
          .col.s12
            form.row.c-form.c-form--left
              .c-form__input.col.s12
                input(type="text" placeholder="Título / descripción corta")
              .c-form__input.col.s12.m6
                input(type="text" placeholder="Dirección de recojo (si aplica)")
              .c-form__input.col.s12.m6
                ul.c-form__input-datetime
                  li
                    i.material-icons.icon-clock
                  li
                    label fecha de recojo
                    input(type="date")
                  li
                    label hora de recojo
                    input(type="time")
              .c-form__input.col.s12.m6
                input(type="text" placeholder="Dirección de entrega (si aplica)")
              .c-form__input.col.s12.m6
                ul.c-form__input-datetime
                  li
                    i.material-icons.icon-clock
                  li
                    label fecha de recojo
                    input(type="text")
                  li
                    label hora de recojo
                    input(type="text")
              .c-form__input.col.s12
                textarea(name="", cols="30", rows="10" placeholder="Descripción detallada del pedido")

              .col.s12.center
                a(href="#confirm").c-button.modal-trigger.u-margin-top--s guardar

                #confirm.modal.c-modal.c-modal__confirm
                  .modal-content.center.u-padding-tb--l
                    i.material-icons.icon-check
                    h2.u-text-medium ¡Gracias por tu pedido!
                    p.u-text-medium Nuestros dúers se comunicarán contigo en breve para confirmar los detalles.
                    button.c-login__button.c-button entendido




    include blocks/scripts
