include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Agregar Pedido')
  body
    +navbarAdmin()

    header
      .container
        .row.u-margin-top--m
          .col.s12
            h2.center Nuevo Pedido
          .col.s12k
            form.row.c-form
              +formInput('text','description','Título / descripción corta').col.s12
              +formInput('text', 'addressFirst','Dirección de recojo (si aplica)').col.s12.m6
              +formInput('datetime','dateFirst','recojo').col.s12.m6
              +formInput('text','addressSecond','Dirección de entrega (si aplica)').col.s12.m6
              +formInput('datetime','dateSecond','entrega').col.s12.m6
              +formInput('textarea','area','Descripción detallada del pedido').col.s12
              .col.s12.center
                a(href="#confirm").c-button.modal-trigger.u-margin-top--s guardar

                +modalConfirm('¡Gracias por tu pedido!', 'Nuestros dúers se comunicarán contigo en breve para confirmar los detalles.')




    include blocks/scripts
