include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include blocks/admin-navbar

    header
      .container
        .row.u-margin-top--m
          .col.s12
            h2.center Nuevo Pedido
          .col.s12
            form.row.c-form.c-form--left
              .c-form__input.col.s12
                input(type="text" placeholder="Título / descripción corta")
              .c-form__input.col.s12.m6
                input(type="text" placeholder="Dirección de recojo (si aplica)")
              .c-form__input.col.s12.m6
                ul.c-form__input-datetime
                  li
                    i.material-icons.icon-clock
                  li
                    label fecha de recojo
                    input(type="date")
                  li
                    label hora de recojo
                    input(type="time")
                //input(type="datetime-local" value="2017-06-01T08:30")
              .c-form__input.col.s12.m6
                input(type="text" placeholder="Dirección de entrega (si aplica)")
              .c-form__input.col.s12.m6
                ul.c-form__input-datetime
                  li
                    i.material-icons.icon-clock
                  li
                    label fecha de recojo
                    input(type="text")
                  li
                    label hora de recojo
                    input(type="text")
                //input(type="datetime-local" value="2017-06-01T08:30")
              .c-form__input.col.s12
                textarea(name="", cols="30", rows="10" placeholder="Descripción detallada del pedido")

              .col.s12.center
                a(href="#form-pay").c-button.icon-arrow
                      .col.s12
                        button.c-login__button.c-button Pagar s/ 124.50



    include blocks/scripts
