include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Agregar Pedido')
  body
    +navbar().u-bg-first

    header
      .container.u-container--medium
        .row.u-margin-top--xl
          .col.s12
            h2.center Nuevo Pedido
          .col.s12
            form.row.c-form
              //+formInput('text','Nombre completo').col.s12.m6
              //+formInput('select', 'selecciona el tipo de pedido',options).col.s12.m6
              //+formInput('email','Correo electrónico').col.s12.m6
              //+formInput('number','Número de teléfono').col.s12.m6
              //+formInput('text','Dirección de recojo (si aplica)').col.s12.m6
              //+formInput('datetime','recojo').col.s12.m6
              //+formInput('text','Dirección de entrega (si aplica)').col.s12.m6
              //+formInput('datetime','entrega').col.s12.m6
              //+formInput('textarea','Descripción detallada del pedido').col.s12
              .col.s12.center
                a(href="#confirm").c-button.modal-trigger.u-margin-top--s guardar

              +modalConfirm('¡Gracias por tu pedido!', 'Nuestros dúers se comunicarán contigo en breve para confirmar los detalles.')




    include blocks/scripts
