include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Agregar Pedido')
  body
    +navbar().u-bg-first

    header
      .container.u-container--medium
        .row.u-margin-top--xl
          .col.s12
            h2.center Nuevo Pedido
          .col.s12
            form.row.c-form
              +formInput('text','nameFirst','Nombre completo').col.s12.m6
              +formInput('select','optionSelect', 'selecciona el tipo de pedido',options).col.s12.m6
              +formInput('email','emailOrder','Correo electrónico').col.s12.m6
              +formInput('number','phoneOrder','Número de teléfono').col.s12.m6
              +formInput('text','addressFirst','Dirección de recojo (si aplica)').col.s12.m6
              +formInput('datetime','dateFirst','recojo').col.s12.m6
              +formInput('text','addressSecond','Dirección de entrega (si aplica)').col.s12.m6
              +formInput('datetime','dateSecond','entrega').col.s12.m6
              +formInput('textarea','areaOrder','Descripción detallada del pedido').col.s12
              .col.s12.center
                a(href="#confirm").c-button.modal-trigger.u-margin-top--s guardar

              +modalConfirm('¡Gracias por tu pedido!', 'Nuestros dúers se comunicarán contigo en breve para confirmar los detalles.')




    include blocks/scripts
