include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Editar Perfil')
  body
    +navbarAdmin()

    header
      .container
        form.row.u-padding-tb--m
          .col.s12
            .c-card-perfil
              img(src="dist/img/image-user.png", alt="")
              .c-card-perfil__description.u-padding-top--m
                label.c-button.c-button--small.c-button-linear--second Editar foto
                  input(type="file").hide
          .col.s12.m8
            .c-form-admin.u-margin-tb--m
              +formInputAdmin('row','text', 'Nombre', 'Billy McBridge')
              +formInputAdmin('row','password', 'Contraseña', 'asdasdasdasdasd')
              +formInputAdmin('row','tel', 'Teléfono', '998765435')
              +formInputAdmin('row','email', 'E-mail', 'woodrow.glover@howe.tv')
              .row.u-margin-top--m
                .col.s12.c-form-admin__buttons
                  a(href="#!").c-button.c-button--small.c-button-linear--second Cancelar
                  a(href="#passRecover").c-button.c-button--small.u-margin-left--s.modal-trigger Guardar
          #passRecover.modal.c-modal.c-modal__recover
            a(href="#!").c-modal__close.modal-close
              i.material-icons.icon-close
            .modal-content.center.u-padding-tb--m
              h3.u-text-medium Cambiar contraseña
              p.u-text-medium Has editado tu contraseña. Si quieres cambiarla, repite tu nueva contraseña:
              .c-form__input
                input(type="password" placeholder="contraseña")
              button.c-login__button.c-button guardar




    include blocks/scripts
