include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include blocks/navbar
    header.c-header
      img(src="dist/img/reloj.png", alt="").c-header__image.c-header__image--clock
      img(src="dist/img/calendar-lg.png", alt="").c-header__image.c-header__image--phone
      img(src="dist/img/recibo-luz.png", alt="").c-header__image.c-header__image--paper
      .c-header__container.center
        h1.c-header__title Delega tus <span>pendientes<br></span>a un equipo de asistentes personales capacitados.
        p.c-header__subtitle Comienza ahora a través de Messenger, Whatsapp, o vía web.
        div
          a(href="#!").c-button.u-margin-lr--s para el negocio
          a(href="#!").c-button.c-button--fourth.u-margin-lr--s para tí
      a(href="#!").c-header__scrolling
        i.material-icons.icon-arrow
    section.u-bg-fourth.u-padding-top--l.u-padding-bottom--xxl.u-diagonal
      .container.white-text
        .row
          .col.s12
            h2.center Para el negocio
          .col.s12.m6
            +cardService('dist/img/image-desktop.jpg',2,'45.00','Ricardo necesitaba sacar una vigencia de poder de su empresa.')
          .col.s12.m6
            +cardService('dist/img/image-desktop.jpg',4,'95.00','Karina necesitaba conseguir cotizaciones para cambiar de proveedor de bolsas.')
    section.u-bg-second.u-padding-top--xxl.u-padding-bottom--l.u-diagonal--reverse
      .container.white-text
        .row
          .col.s12
            h2.center Para tí
          .col.s12.m6
            +cardService('dist/img/image-desktop.jpg',1,'16.00','A Andrea se le venció el recibo de Luz del Sur y no tenía tiempo de ir hasta allá')
          .col.s12.m6
            +cardService('dist/img/image-desktop.jpg',8,'200.00','Natalia necesitaba legalizar su diploma de maestría en el extranjero')
    section.u-padding-top--xl
      .container.center-align
        .row
          .col.s12
            h2 ¿Por qué Tudú?
          .col.s12.m6
            +cardBenefit('hours','second','Horas Ahorradas','Olvídate de las horas invertidas fuera de la casa o de la oficina en compras, trámites y pagos. ')
          .col.s12.m6
            +cardBenefit('enfocate','fourth','Comunicación siempre','En caso sea necesario, conversa con nosotros por WhatsApp mientras el pedido se lleva a cabo.')
          .col.s12.m6
            +cardBenefit('comunicacion','second','Comunicación siempre','En caso sea necesario, conversa con nosotros por WhatsApp mientras el pedido se lleva a cabo.')
          .col.s12.m6
            +cardBenefit('programa','fourth','Programa Pedidos','¿Necesitas ayuda siempre con el mismo pendiente? Programa tu pedido y deja que un dúer se encargue.')
    section.u-padding-bottom--xl
      .container.center-align
        .row
          .col.s12
            h2 Empresas que ya coinfían en nosotros
          .col.s12
            .c-gallery-client
              each val in [1,2,3,4,5,6,7,8,9]
                img(src= 'dist/img/clients/' + val + '.svg', alt="")
    +newsletter('¿Quieres saber más sobre cómo podemos ayudarte?', true, 'Solicita que un asistente te llame para darte más información o agenda una reunión con nosotros', 'Conversemos','')
    include blocks/footer


    script(src="dist/js/main.js")
