include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Tudú')
  body
    +navbar()

    header.c-header.c-header--landing
      img(src="dist/img/reloj.png", alt="").c-header__image.c-header__image--clock
      img(src="dist/img/calendar-lg.png", alt="").c-header__image.c-header__image--phone
      img(src="dist/img/recibo-luz.png", alt="").c-header__image.c-header__image--paper
      .c-header__container.center
        h1.c-header__title Delega tus
          ul.c-animation-text-fade
            li pendientes
            li pagos
            li trámites
          <br>
          | a un equipo de asistentes personales capacitados.

        p.c-header__subtitle Comienza ahora a través de Messenger, Whatsapp, o vía web.
        div
          a(href="#forBusiness").c-button.u-bg-fourth para el negocio
          a(href="#forMe").c-button para ti
      .c-header__scrolling
        a(href="#!")
          i.material-icons.icon-arrow
    section#forBusiness.scrollspy.u-bg-fourth.u-padding-top--l.u-padding-bottom--xxl.u-diagonal
      .container.white-text
        .row
          .col.s12
            h2.center.u-margin-bottom--s Para el negocio
          .col.s12.m6
            +service('dist/img/image-desktop-1.jpg',2,'45.00','Ricardo necesitaba sacar una vigencia de poder de su empresa.')
          .col.s12.m6
            +service('dist/img/image-desktop-2.jpg',4,'95.00','Karina necesitaba conseguir cotizaciones para cambiar de proveedor de bolsas.')
    section#forMe.scrollspy.u-bg-second.u-padding-top--xxl.u-diagonal--reverse
      .container.white-text
        .row
          .col.s12
            h2.center.u-margin-bottom--s Para ti
          .col.s12.m6
            +service('dist/img/image-desktop-1.jpg',1,'16.00','A Andrea se le venció el recibo de Luz del Sur y no tenía tiempo de ir hasta allá').c-service__mobile--reverse
          .col.s12.m6
            +service('dist/img/image-desktop-4.jpg',8,'200.00','Natalia necesitaba legalizar su diploma de maestría en el extranjero').c-service__mobile--reverse
    section.u-padding-top--l
      .container.center-align
        .row.u-cols-equals
          .col.s12
            h2 ¿Por qué Tudú?
          .col.s12.m6
            +benefit('hours','second','Horas Ahorradas','Olvídate de las horas invertidas fuera de la casa o de la oficina en compras, trámites y pagos. ')
          .col.s12.m6
            +benefit('enfocate','fourth','Comunicación siempre','En caso sea necesario, conversa con nosotros por WhatsApp mientras el pedido se lleva a cabo.')
          .col.s12.m6
            +benefit('comunicacion','second','Comunicación siempre','En caso sea necesario, conversa con nosotros por WhatsApp mientras el pedido se lleva a cabo.')
          .col.s12.m6
            +benefit('programa','fourth','Programa Pedidos','¿Necesitas ayuda siempre con el mismo pendiente? Programa tu pedido y deja que un dúer se encargue.')
    section.u-padding-top--m
      .container.center-align
        .row
          .col.s12
            h2 Empresas que ya confían en nosotros
          .col.s12
            +galleryClient(clients)

    +newsletter('¿Quieres saber más sobre cómo podemos ayudarte?', true, 'Solicita que un asistente te llame para darte más información o agenda una reunión con nosotros', 'Conversemos','')
    include blocks/footer


    include blocks/scripts
