<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include blocks/navbar
    header.c-header
      .c-header__container.center-align
        h1.c-header__title Delega tus <span>pendientes<span> a un equipo de asistentes personales capacitados.
        p.c-header__subtitle Comienza ahora a través de Messenger, Whatsapp, o vía web.
        div
          a(href="#!").c-button para el negocio
          a(href="#!").c-button.c-button--fourth para tí

    script(src="dist/js/main.js")
