include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    +navbar()

    header.c-header
      img(src="dist/img/reloj.png", alt="").c-header__image.c-header__image--clock
      img(src="dist/img/calendar-lg.png", alt="").c-header__image.c-header__image--phone
      img(src="dist/img/recibo-luz.png", alt="").c-header__image.c-header__image--paper
      img(src="dist/img/gift.png", alt="").c-header__image.c-header__image--gift
      .c-header__container
        .c-login.u-margin-bottom--m
          .c-login__small
            h2.u-text-medium.u-margin-bottom--s Inicia sesión
            form(action="perfil.html")
              .c-form__input.u-margin-bottom--none.right-align
                input(type="password" placeholder="Contraseña")
                a(href="#passRecover").recover.modal-trigger La olvidé

              .c-form__input.left-align.u-margin-tb--none
                label
                  input(type="checkbox")
                  span Recordar
              button.c-login__button.c-button.icon-back
        p.c-login__register ¿No tienes una cuenta?
          a(href="register.html") Regístrate

    #passRecover.modal.c-modal.c-modal__recover
      a(href="#!").c-modal__close.modal-close
        i.material-icons.icon-close
      .modal-content.center.u-padding-tb--m
        h3.u-text-medium Contraseña olvidada
        p.u-text-medium Ingresa tu correo electrónico y te mandaremos un link para que puedas crear una nueva contraseña.
        form(action="")
          .c-form__input
            input(type="email" placeholder="Correo electrónico")
        button.c-login__button.c-button enviar




    include blocks/scripts
