include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    +navbarAdmin().hide-on-small-and-down

    +navbaBehind('Pedido # 00345','perfil.html').hide-on-med-and-up
    header
      .container
        .row.u-margin-top--m

          .col.s12
            +order(order)

          .col.s12
            .u-separator.u-margin-tb--m
          .col.s12
            +orderDetail(order)
        .row
          .col.s12.m6
            +card('Itinerario del pedido:').c-card__mobile
              +itinerary('105.50', itineraryOrder)


          .col.s12.m6
            +card().c-card__mobile
              +duer(duer)

            .right-align.c-card-perfil__button
              a(href="#form-pay").c-button.modal-trigger pagar
            #form-pay.modal.c-modal
              a(href="#!").c-modal__close.modal-close
                i.material-icons.icon-close
              .modal-content
                h2.center Pagar

                form.row
                  .col.s12.u-padding-lr--none
                    p.u-text-medium Método de pago

                  +tabValues('default', 'en línea', 'Transferencia').c-tab--blue.col.s12


                  .col.s12.u-padding-lr--none
                    .u-separator
                  #test0.col.s12.u-padding-lr--none
                    .row
                      .c-form__input.col.s12.m6
                        input(type="text" placeholder="Nombre del tarjetahabiente")
                      .c-form__input.col.s12.m6
                        input(type="text" placeholder="Número de tarjeta")
                      .c-form__input.col.s12
                        ul.c-form__input-target
                          li
                            label fecha de vencimiento
                            input(type="date")
                          li
                            label Código de seguridad
                            input(type="time")
                  #test1.col.s12.u-padding-lr--none
                    .row.left-align.c-modal__font
                      .col.s12.m4
                        p Número de cuenta:
                        p Interbank ahorros soles
                        span 234-455-677-778
                      .col.s12.m4
                        p Código interbancario:
                        span 234-455-677-778
                      .col.s12
                        label.valign-wrapper.u-margin-top--s
                          i.material-icons.icon-photo.u-text-second.u-margin-right--s
                          | subir foto de voucher
                          input(type="file")#inputPhoto.hide
                  button.c-login__button.c-button pagar S/ 124.50
          .col.s12
            p.u-text-medium.c-card-perfil--space Si necesitas modificar o cancelar tu pedido, contáctanos en
              a(href="#!").u-text-second  hola@tudu.pe
              |  o llámanos al
              a(href="#!").u-text-second  999 875 234




    include blocks/scripts
