
include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Perfil')
  body
    +navbarAdmin()

    header
      .container

        +carPerfil(user, sald, 5)
      .container.u-container-full--mobile
        .row
          .col.s12.u-container-full--mobile
            +tabValues('default', 'Activos', 'Pasados')
          #test0.col.s12.c-table
            table
              tbody
                each order in orderList
                  if (order.status != 'pendiente')
                    +rowOrder(order)

          #test1.col.s12.c-table
            table
              tbody
                each order in orderPastList
                  +rowOrderPast(order)

    include blocks/scripts
