include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Perfil de Empresa')
  body
    +navbarAdmin()

    header
      .container
        +carPerfil(user, sald, 5)
      .container.u-container-full--mobile
        .row
          .col.s12.u-container-full--mobile
            +tabValues('default', 'Activos', 'Pasados','Facturas')

          +table(orderList)#test0.col.s12.c-table

          +table(orderPastList,'past')#test1.col.s12.c-table

          +table(orderList)#test2.col.s12.c-table

          +modalBill(bill)

          +modalQueryBill(bill)



    include blocks/scripts
