
include settings/mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="dist/css/app.css")
  body
    +navbarAdmin()

    header
      .container

        +carPerfil(user, sald, 5)
      .container.u-container-full--mobile
        .row
          .col.s12.u-container-full--mobile
            +tabValues('default', 'Activos', 'Pasados')
          #test0.col.s12
            table
              tbody
                each val in [1,2,3,4,5,6,7,8,9,10,11,12,13]
                  tr
                    td
                      p 24/07/18
                      p 04:24PM
                    td Compras en Plaza Vea
                      span.c-badge-status.hide-on-med-and-up En Proceso
                    td.hide-on-small-and-down
                      span.c-badge-status En Proceso
                    td.center
                      p.c-price 124
                        span.c-price__cents 50
          #test1.col.s12
            table
              tbody
                each val in [1,2,3,4,5,6,7,8,9,10,11,12,13]
                  tr
                    td
                      p 24/07/18
                      p 04:24PM
                    td Compras en Plaza Vea
                      span.c-badge-status.c-badge-status--close.hide-on-small-and-down Cerrado

                      p.c-price.hide-on-med-and-up 124
                        span.c-price__cents 50
                    td.hide-on-small-and-down
                      p.c-price 124
                        span.c-price__cents 50
                    td.right
                      a(href="add-order.html").c-button.c-button--small Repetir




    include blocks/scripts
