include settings/mixins
<!DOCTYPE html>
html(lang="es")
  +head('Trabaja con nosotros')
  body
    +navbar()

    section.u-bg-first.u-diagonal.u-padding-tb--xxl
      .container.white-text
        .row
          .col.s12
            h1.center.u-margin-bottom--s Trabaja con Nosotros
          .col.s12
            h2.u-text-medium En tudú estamos buscando:
        .row
          .col.s12.m6
            +work('Lorem Ipsum', 'has been the industry\'s standard dummy text ever since the 1500s.', '#!')
          .col.s12.m6
            +work('Lorem Ipsum', 'has been the industry\'s standard dummy text ever since the 1500s.', '#!')
          .col.s12.m6
            +work('Lorem Ipsum', 'has been the industry\'s standard dummy text ever since the 1500s.', '#!')
          .col.s12.m6
            +work('Lorem Ipsum', 'has been the industry\'s standard dummy text ever since the 1500s.', '#!')
          .col.s12.u-margin-top--m
            p.u-container--small Si tu perfil no encaja en estas posiciones pero quieres trabajar con nosotros, mándanos tu CV a unete@tudu.pe
    include blocks/footer


    include blocks/scripts
