mixin modalConfirm(title, description)
  #confirm.modal.c-modal.c-modal__confirm
    .modal-content.center.u-padding-tb--l
      i.material-icons.icon-check
      h2.u-text-medium= title
      p.u-text-medium= description
      button.c-login__button.c-button entendido
