mixin modalPassRecover()
  #passRecover.modal.c-modal.c-modal__recover
    a(href="#!").c-modal__close.modal-close
      i.material-icons.icon-close
    .modal-content.center.u-padding-tb--m
      h3.u-text-medium Contrase침a olvidada
      p.u-text-medium Ingresa tu correo electr칩nico y te mandaremos un link para que puedas crear una nueva contrase침a.
      form(action="")
        //+formInput('email','Correo electr칩nico')
        button.c-login__button.c-button enviar
