mixin modalPassModify()
  #passRecover.modal.c-modal.c-modal__recover
    a(href="#!").c-modal__close.modal-close
      i.material-icons.icon-close
    .modal-content.center.u-padding-tb--m
      h3.u-text-medium Cambiar contrase単a
      p.u-text-medium Has editado tu contrase単a. Si quieres cambiarla, repite tu nueva contrase単a:
      //+formInput('password','contrase単a')
      button.c-login__button.c-button guardar
