mixin newsletter
  section.u-bg-first.u-padding-top--l.u-padding-bottom--xxl.u-diagonal
    .container.white-text
      .row
        .col.s12
          h2.c-header__title ¿Quieres saber más sobre cómo podemos ayudarte?
          p Solicita que un asistente te llame para darte más información o agenda una reunión con nosotros
      form.row
        .col.s12.m6
          input(type="text" placeholder="Ingresa tu correo electrónico").c-newsletter
        .col.s12
          button.c-button Conversemos
