mixin newsletter(title, input, description, textButton,linkButton)
  section.u-bg-first.u-padding-top--l.u-padding-bottom--xxl.u-diagonal
    .container.white-text
      .row
        .col.s12
          h2.c-header__title= title
          if description
            p= description
      if input
        form.row
          .col.s12.m6
            input(type="text" placeholder="Ingresa tu correo electrónico").c-newsletter
          .col.s12
            button.c-button= textButton
      else
        .col.s12
            a(href= linkButton).c-button.u-margin-top--m= textButton
