mixin payMethodTransfer(id)
  .col.s12(id= id)
    .row.left-align.u-margin-top--s.c-modal__font
      .col.s12.m4
        p Número de cuenta:
        p Interbank ahorros soles
        span 234-455-677-778
      .col.s12.m4
        p Código interbancario:
        span 234-455-677-778
      .col.s12
        label.valign-wrapper.u-margin-top--s
          i.material-icons.icon-photo.u-text-second.u-margin-right--s
          | subir foto de voucher
          input(type="file")#inputPhoto.hide
