mixin payMethodOnline(id)
  .col.s12(id= id)
    .row.u-margin-bottom--none
      +formInput('text','nameTarget','Nombre del tarjetahabiente').col.s12.m6
      +formInput('number','numberTarget','Número de tarjeta').col.s12.m6
      +formInput('target').col.s12
