mixin payMethodOnline(id)
  .col.s12(id= id)
    .row
      //+formInput('text','Nombre del tarjetahabiente').col.s12.m6
      //+formInput('number','Número de tarjeta').col.s12.m6
      //+formInput('target').col.s12
