.c-animation-text-fade{
  display: inline-block;
  text-align: left;
  width: 260px;
  margin-top: 0;
  margin-bottom: 0;
  color: $g-color-second;
  opacity: 1;
  transition:all .3s;

  @media #{$medium-and-down} {
    width: 160px;
  }

  li{
    display: none;
    opacity: 0;
    transition:all .3s;

    &.active{
      display: inline;
      opacity: 1;
    }
  }
}

