.c-animation-text-fade{
  display: inline;
  color: $g-color-second;
  opacity: 1;
  transition:all .3s;

  li{
    display: none;
    opacity: 0;
    transition:all .3s;

    &.active{
      display: inline;
      opacity: 1;
    }
  }
}

