.c-badge-status{
  background: $g-color-third;
  color: white;
  padding:.25em 1em .25em;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 2em;
  display: inline-block;
  min-width: 200px;
  text-align: center;

  @media #{$medium-and-down} {
    display: block;
    margin-left: 0;
    margin-top: .5em;
    min-width: auto;
  }

  &--close{
    color: $off-black;
    background: transparent;
    box-shadow: 0 0 0 1px rgba(#1d2258,.3);
  }
  &--incomplete{
    background: $g-color-second;
  }
}
