.c-banner{
  height: 600px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items:center;
  justify-content:center;
  color: white;
  background: $g-color-first;

  @media #{$medium-and-down} {
    height: 500px;
  }

  &__container{
    max-width: 800px;
  }
  img{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
    opacity: .2;
  }
  &__title{
    @media #{$small-and-down} {
      font-size: 35px;
    }
  }

  &__subtitle{
    font-weight: 500;
    font-size: 36px;
    margin-top: 1.3em;
    text-align: center;

    @media #{$small-and-down} {
      padding: 0 .5em;
      font-size: 30px;
      line-height: 1.2;
      text-align: left;
    }

    span{
      display: block;
      color: $g-color-second;
    }
  }
}
