.c-button{
  display: inline-block;
  height: $button-large-height;
  line-height: $button-large-height + 2px;
  background: $g-color-second;
  border: none;
  outline: 0;
  min-width: 230px;
  border-radius: 3em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  cursor: pointer;

  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);

  transition:all .2s;

  &:hover{
    background: var(--g-color-second-hover);
  }
  &:focus{
    background: var(--g-color-second-pressed);
  }

  $numbers: ('first','second','third','fourth');
  @each $number in $numbers{
    &.u-bg-#{$number}:hover {
      background: var(--g-color-#{$number + '-hover'});
    }
    &.u-bg-#{$number}:focus {
      background: var(--g-color-#{$number + '-pressed'});
    }
  }
  @media #{$medium-and-down} {
    height: $button-large-height - 10px;
    line-height: $button-large-height - 10px;
    min-width: 180px;
    font-size: 14px;



  }

  &-logged{
    display: flex;
    align-items:center;
    justify-content:center;
    height: $button-large-height + 5px;
    line-height: $button-large-height + 5px;
    color: $off-black;
    font-weight: 500;
    font-size: 20px;
    background: white;
    padding: 0 1em;
    position: relative;
    border: solid 2px $g-color-second;
    border-radius: 3em;

    @media #{$medium-and-down}{
      height: $button-large-height;
      line-height: $button-large-height;
      font-size: 18px;
    }

    img{
      position: absolute;
      top: 50%;
      left: 1em;
      transform:translateY(-50%);
      height: 65%;

      @media #{$medium-and-down}{
        height: 45%;
        left: .5em;
      }
    }
  }

  &--small{
    height: $button-large-height - 10px;
    line-height: $button-large-height - 6px;
    padding: 0 1.5em;
    min-width: 180px;

    box-shadow: 0 0 0 0 transparent;

    @media #{$medium-and-down} {
      height: $button-large-height - 15px;
    line-height: $button-large-height - 15px;
    font-size: 14px;
    min-width: 100px;
    }
  }
  &-linear{
    $numbers: ('first','second','third','fourth');
    @each $number in $numbers{
    &--#{$number} {
      background: transparent;
      color: var(--g-color-#{$number});
      border: 1px solid var(--g-color-#{$number});

      &:hover{
        background: var(--g-color-#{$number}) !important;
        color: white !important;

      }
      &:focus{
        color: white !important;
        border: 1px solid transparent !important;
      }
    }
  }
  }
}
