.c-card-benefit{
  max-width: 400px;
  margin: 0 auto;
  font-size: 500;
  padding: 4em 0;

  @media #{$medium-and-down} {
    padding: 1em 0;
  }

  i{
    margin-bottom: .5em;
  }
  p{
    font-weight: 500;
  }
}
