.c-footer{
  color: $g-color-third;
  a{
    color: $g-color-third;
    transition:all .3s;

    @media #{$medium-and-down} {
      display: inline-block;
      margin: 1em 0;
    }

    &:hover{
      color: color("light-blue", "darken-1");
    }

    i{
      font-size: 30px;
      margin: 1em .5em;

      @media #{$medium-and-down} {
        margin: .5em .5em;
      }
    }
  }
  &__container{
    max-width: 750px;
    margin: 0 auto;
  }
  &__copy{
    border-top: 2px solid $g-color-third;
  }
}
