.c-form-admin{
  input{
   border-top: none;
   border-left: none;
   border-right: none;
   border-radius: 0;
   text-align: left;
   padding: .5em 1em;
   height: 45px;

  }
  @media #{$medium-and-down} {
    .row{
      margin-bottom: 0;
    }
  }

  &__buttons{
    @media #{$medium-and-down} {
      text-align: center;
    }
  }
}
