.c-form{
  display: flex;
  flex-wrap:wrap;
  &--left{
    input,textarea{
      text-align: left !important;
    }
  }
  &__input{
    position: relative;
    margin: 1em 0;

    @media #{$medium-and-down} {
      margin: .5em 0;
    }
    &-icon{
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: 6px;
      height: 55px;
      line-height: 55px;
      padding: 0 1em;
      background: white;

      &.icon-eye{
        cursor: pointer;
      }
    }
  }
  .select-wrapper input.select-dropdown{
    margin-bottom: 0;
    height: 59px;
  }
}
