.c-header{
  display: flex;
  background: $g-color-first;
  height: 100vh;
  color: white;

  &__container{
    max-width: 800px;
    margin:  auto;
  }
  &__title{
    font-weight:500;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;

    span{
      color: $g-color-second;
    }
  }
  &__subtitle{
    margin-bottom: 3em;
    font-size: 20px;
  }
}
