.c-header{
  display: flex;
  background: $g-color-first;
  min-height: 100vh;
  color: white;
  position: relative;

  @media #{$medium-and-down} {
    padding: 0 5em;
    min-height: 100vh;
    height: auto;
  }
  @media #{$small-and-down} {
    padding: 2em 1em;
  }

  &__container{
    width: 800px;
    position: relative;
    z-index: 10;
    margin:  auto;

    @media #{$medium-and-down} {
      margin-top: 10em;
    }
    @media #{only screen and (max-width: 820px)} {
      margin-top: 8em;
    }
    @media #{$small-and-down} {
      margin-top: 3em;
    }

    &.c-header--small{
      margin-top: auto ;
    }
  }
  &__title{
    font-weight:500;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;

    @media #{only screen and (max-width: 820px)} {
      font-size: 30px;
    }
    @media #{$small-and-down} {
      text-align: left;
      margin-bottom: 1em;
      line-height: 1.2;
    }


    span{
      color: $g-color-second;
    }
  }
  &__subtitle{
    margin-bottom: 3em;
    font-size: 20px;

    @media #{$medium-and-down} {
      display: none;
    }
  }
  &__image{
    position: absolute;
    max-width: 20%;
    @media #{$medium-and-down} {
      max-width: 150px;
      width: 40%;
    }

    &--phone{
      bottom:0;
      left: 0;
      z-index: 2;
    }
    &--paper{
      bottom:0;
      left: 0;
      z-index: 1;
    }
    &--clock{
      bottom: 0;
      right: 0;
    }
    &--gift{
      top: 5em;
      left: 0;
    }
  }
  &__scrolling{
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform:translateX(-50%);

    i{
      color: white;
      font-size: 3em;
    }
  }
  .c-button{
    margin: 1em;

    @media #{$medium-and-down} {
      margin: .5em;
    }
  }

  &--landing{
    min-height: auto;
    height: 100vh;
    max-height: 900px;
    @media #{$medium-and-down} {
      height: 100vh;
      max-height: 500px;
      min-height: auto;
    }
    @media #{$medium-and-down} {
      max-height: 550px;
    }
  }
}
