.c-indicators{
  display: flex;
  justify-content:center;
  margin-top: 2rem;

    @media #{$large-and-up} {
      display: none;
    }
  li{
    background-color: $g-color-first;
    width: .6em;
    height: .6em;
    margin: 0 .3em;
    border-radius: 50%;
    opacity: .3;
    transition:all .3s;
    cursor:pointer;

    &.active{
      opacity: 1;
    }
  }
}
