.c-input-datetime{
  height: $input-height;
  border: $input-border;
  border-radius: $input-radius;
  margin: 0;

  display: flex;

  li{
    flex: 1 0 auto;
    width: calc(50% - #{$input-height / 2} );
    position: relative;
    overflow-y: hidden;

    input[type=text]:not(.browser-default),input[type=number]:not(.browser-default){
      border-radius:0;
      border-top: 0;
      border-bottom: 0;
      text-align: center;
    }

    &:first-child{
      width: $input-height;
      display: flex;
      align-items:center;
      justify-content: center;

      i{
        font-size: 1.7em;
      }
    }
    &:last-child{
      input[type=text]:not(.browser-default){
        border:none;
      }
    }
    label{
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50% !important;
      transform:translate(-50%,-50%);
      font-weight: 500;
      text-align: center;
    }
  }
}
