.c-input{
  &__recover{
    font-size: 16px;
    margin-top: .5em;
    text-align: right;

    a{
      color: $g-color-first;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  &__password{
    &-icon{
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 .5rem;
      display: inline-block;
      margin-top: 1px;
      margin-right: calc(0.75rem + 1px);
      background: white;
      line-height: $input-height;
      height: calc(#{$input-height} - 2px);
      border-radius: 0 $input-radius $input-radius 0;
      cursor: pointer;
    }
  }
}
