.c-modal{
  border-radius: 6px;
  box-shadow: 0 0 0 0 transparent;
  background-color: white;
  overflow: initial;
  max-height: initial;
  padding: 2em;

  @media #{$medium-and-down} {
    padding: 1em;
    width: 90%;
  }

  input,textarea{
    text-align: center;
  }

  &__font{
    font-size: 18px;
    font-weight: 500;

    p{
      margin: 0;

    }

    @media #{$medium-and-down} {
      font-size: 14px;
    }
  }
  &__confirm{
    //position: relative;
    margin-top: 4em;

    .modal-content{
      max-width: 30rem;
      margin: 0 auto;
    }
    .icon-check{
      font-size: 4em;
      line-height: 6rem;
      display: block;
      width: 6rem;
      height: 6rem;
      background: $g-color-third;
      color: white;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      transform:translate(-50%,-50%);

    }
    h4{
      @media #{$medium-and-down} {
        font-size: 16px;
      }
    }
  }
  &__recover{
    margin-top: 6em;
  }
  &__close{
    color: $off-black !important;
    position: absolute;
    z-index: 10;
    top: 1em;
    left: 1em;

    i{
      font-size: 18px !important;
      margin: 0 !important;
    }
    &:hover{
      color: $off-black !important;
    }
  }
  &__bill{
    width: 60%;
    @media #{$medium-and-down} {
      width: 90%;
    }
    @media #{$small-and-down} {
      height: 100vh;
      overflow-Y: auto;
      top: 0 !important;
      width: 100%;
      border-radius: 0;
      padding-top: 0;
    }
    .modal-content{
      padding: 0;
    }
    &__footer{
      text-align: center;
      font-size: 14px;
      margin-top: 30px;

      a{
        color: $off-black;
        font-weight: 500;
      }
    }
  }
}
.modal-overlay{
  background-color: rgba(black, 1);
}
.modal{
  .modal{
    width: 70%;
  }
  .modal-overlay{
    background: transparent;
  }
}
