.c-modal{
  border-radius: 6px;
  box-shadow: 0 0 0 0 transparent;
  background-color: white;
  overflow: initial;
  max-height: initial;
  padding: 2em;

  input,textarea{
    text-align: center;
  }

  &__font{
    font-size: 18px;
    font-weight: 500;

    p{
      margin: 0;
    }
  }
}
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.5);
}

