.c-modal{
  border-radius: 6px;
  box-shadow: 0 0 0 0 transparent;
  background-color: white;
  overflow: initial;
  max-height: initial;
  padding: 2em;

  @media #{$medium-and-down} {
    padding: 1em;
    width: 90%;
  }

  input,textarea{
    text-align: center;
  }

  &__font{
    font-size: 18px;
    font-weight: 500;

    p{
      margin: 0;

    }

    @media #{$medium-and-down} {
      font-size: 14px;
    }
  }
  &__confirm{
    //position: relative;
    margin-top: 4em;

    .modal-content{
      max-width: 30rem;
      margin: 0 auto;
    }
    .icon-check{
      font-size: 4em;
      line-height: 6rem;
      display: block;
      width: 6rem;
      height: 6rem;
      background: $g-color-third;
      color: white;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      transform:translate(-50%,-50%);

    }
  }
  &__recover{
    margin-top: 6em;
  }
  &__close{
    color: $off-black;
    font-size: 1em;
    position: absolute;
    top: 1em;
    left: 1em;

    i{
      font-size: 1em;
    }
  }
}
.modal-overlay{
  background-color: rgba(black, 1);
}

