.c-navbar{
  background: transparent;
  box-shadow: 0 0 0 0 transparent;
  transition:all .3s;
  &__logo{
    float: left;
    height: $navbar-height;
    width: 15%;
    display: flex;
    align-items:center;

    @media #{$small-and-down} {
      height: $navbar-height-mobile
    }
    img{
      display: block;
      height: 50%;
      transform:translateY(-5px);
    }


  }
  &__new{
    display: none;
    position: absolute;
    top: .3em;
    left: 50%;
    background: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: $g-color-first;
    transform:translateX(-50%);
    box-shadow: 0 4px 6px 0 #0b0d23;
    i{
      text-align: center;
      line-height: 3rem !important;
      height: 3rem !important;
    }
    @media #{$medium-and-down} {
      display: block;
      top: 1em;
    }
    @media #{$small-and-down} {
      top: .35em;
    }
  }

  &--fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  &--scrolling{
    background: $g-color-first;
  }

  ul{
    width: 85%;
    &.right{
      width: auto;
      
      li{
        float: right;
      }
    }
    a{
      &:hover{
        background: transparent;
      }
    }
  }
  &__mobile{
    display: flex;
    justify-content:flex-end;

    i{
      display: flex;
      align-items:center;
      &.icon-more{
        font-size: .6em;
      }
    }

  }
  &__add{
    position: absolute;
    top: .8em;
    left: 50%;
    transform:translateX(-50%);
    @media #{$medium-and-down} {
      display: none;
    }
  }
  &--admin{
    background: white ;
    .c-navbar__new{
      background: $g-color-second;
      color: white;
      box-shadow: 0 4px 6px 0 transparent;
    }
    ul{
      a{
        display: flex;
        align-items:center;
        color: $g-color-second;

        i{
          font-size: 1.5em;
          margin-right: .5em;
        }
        @media #{$medium-and-down} {
          padding: 0;
        }
      }
    }
  }
}
