.c-service{
  display: flex;
  flex-wrap:wrap;

  @media #{$medium-and-down} {
    margin-bottom: 3em;
  }
  &__image{
    position: relative;
    margin-bottom: 1em;

    @media #{$medium-and-down} {
      width: 40%;
    }

    img{
      display: block;
      width: 100%;
      border-radius: 5px;

      @media #{$medium-and-down} {
        width: 90%;
        height: 7rem;
        object-fit:cover;
      }
    }
  }
  &__badge{
    background: white;
    display: inline-block;
    color: $g-color-first;
    font-weight: 500;
    padding: .5em .7em;
    border-radius: 3em;
    position: absolute;
    bottom: 0;
    right: 1.5em;
    transform:translateY(50%);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);

    @media #{$medium-and-down} {
      right: 1em;
      box-shadow: 0 2px 8px 0 transparent;
    }
  }
  &__price{
    font-weight: 500;

    &:before{
      content: "S./";
    }
  }
  &__description{
    margin-bottom: .3rem;

    @media #{$medium-and-down} {
      margin-top: 0;
      width: 60%;
    }

    span{
      display: block;
      font-weight: 500;
    }
  }
  &__mobile{
    @media #{$medium-and-down} {
      &--reverse{
        flex-direction:row-reverse;
      }
    }
  }
}
