.c-table-bill{
  tr{

    td{
      text-align: center;
      p{
        font-weight: 400;
      }
      &:nth-child(2){
        text-align: left;
        max-width: 300px;

        b{
          font-weight: 500;
        }
        p{
          line-height: 1.2;
        }
      }
      &:nth-child(3){
        font-size: 22px;
      }
      a{
        font-weight: 400;
        text-transform: uppercase;
        color: $g-color-second;
        font-size: 20px;
        line-height: 1.1;
      }
    }
  }
  .c-price{
    @media #{$small-and-down} {
      display: inline-block;
      font-weight: 500;
      margin-right: 1em;
      font-size: 18px;
    }
  }
}
