.c-tab{
  $tab-size: 60px;
  border-top: 1px solid #8e90ab;
  border-bottom: 1px solid #8e90ab;
  padding: 0 2em;
  margin-bottom: 1em;
  .tabs{
    height: $tab-size;

    .indicator{
      height: 3px;
      z-index: 5;
      bottom: -1;
    }
  }
  .tab{
    height: $tab-size;
    line-height: $tab-size;
    a{
      font-size: 20px;
      text-transform: capitalize;

      &:focus{
        background: transparent;
        &.active{
          background: transparent;
        }
      }

    }
  }
  &--blue{
    border:1px solid $g-color-third;
    padding: 0 0 !important;
    border-radius: 6px;
    overflow: hidden;
    .tabs{
      height: $tab-size - 20px;

      .indicator{
        background: $g-color-third;
        height: 100%;
        width: 50%;
      }
    }
    .tab{
      height: $tab-size - 20px;
      line-height: $tab-size - 20px;


      a{
        color: $g-color-third;
        font-weight: 500;
        position: relative;
        z-index: 10;

        &:hover{
          color: $g-color-third;
        }
        &.active{
          color: white;
        }
      }
    }
  }
}
