*{
  box-sizing: border-box;
}
.input-field{
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea{
    box-sizing:border-box;
    border: $input-border;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 500;
    color: $g-color-first;

    &.valid{
      border-color: $input-success-color;
      box-shadow: 0 0 0 0 transparent;
    }

    + label{
      font-weight: 500;
      width: 95%;
      padding-left: 1em;
      line-height: 2.2;
      transition: all .2s ease-out;

      &.active{
        color: $g-color-first;
        transform: translateY(-24px) scale(.8);
        padding-left: 0;
      }
    }

    &:focus{
      border: $input-border;
      box-shadow: 0 0 0 0 transparent;
    }
  }
}
.select-month, .select-year{
  input[type=text]:not(.browser-default){
    border: none;
    padding: 0;
    font-weight: 400;

    &:focus{
      border: none;
    }
  }
}
textarea.materialize-textarea{
  min-height: 200px;
}

table{
  td{
    font-weight: 500;

    &:first-child{
      font-weight: 400;
    }
    &:last-child{
      @media #{$medium-and-down}{
        padding-top: 2.5em;
        padding-bottom: 0;
        vertical-align: text-bottom;
      }
    }

    @media #{$medium-and-down}{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  p{
    margin: .2rem 0;
  }
  @media #{$medium-and-down} {
    .c-button{
      &--small{
        font-size: 14px;
        min-width: 40px;
        height: 30px;
        line-height: 34px;
      }
    }
  }
}
