*{
  box-sizing: border-box;
}
.input-field{
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea{
    box-sizing:border-box;
    border: $input-border;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: $g-color-first;

    @media only screen and (max-width: $medium-screen) {
      font-size: 15.5px;
    }

    &::placeholder{
      color: $off-black;
    }

    &.valid{
      border-color: rgba($input-border-color,.5);
      box-shadow: 0 0 0 0 transparent;

      background-image: url(../img/icons/check.svg);
      background-size: 1.5em 1.5em;
      background-repeat: no-repeat;
      background-position: 97% center;
      padding-right: 2.5em;

    }
    &.invalid{
      border-color: $input-error-color;
      box-shadow: 0 0 0 0 transparent;

      + label.active{
        color: $input-error-color;
      }
    }

    + label{
      font-weight: 500;
      width: 95%;
      padding-left: 1em;
      line-height: 2.2;
      transition: all .2s ease-out;

      &.active{
        color: $g-color-first;
        transform: translateY(-24px) scale(.8);
        padding-left: 0;
      }
    }

    &:focus{
      border: $input-border;
      box-shadow: 0 0 0 0 transparent;
    }
  }
}
.select-month, .select-year{
  input[type=text]:not(.browser-default){
    border: none;
    padding: 0;
    font-weight: 400;

    &:focus{
      border: none;
    }
  }
}
textarea.materialize-textarea{
  min-height: 200px;
}

table{
  td{
    font-weight: 500;

    &:first-child{
      font-weight: 400;
    }

    @media #{$medium-and-down}{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  p{
    margin: .2rem 0;
  }
  @media #{$medium-and-down} {
    .c-button{
      &--small{
        font-size: 14px;
        min-width: 40px;
        height: 30px;
        line-height: 34px;
      }
    }
  }
}
.dropdown-content{
  li > span{
    font-size: 18px;
    font-weight: 500;
    color: $g-color-first;

    @media #{$medium-and-down}{
      font-size: 14px;
      font-weight: 400;
    }
  }

}
