//form inputs valid
input,textarea{
  &.error{
    border: 2px solid $g-color-second;

    + span{
      color: $g-color-second;
      font-size: 14px;
      position: absolute;
      bottom: -1.9em;
    }

    &-empty{
      border: 2px solid $g-color-second;

      &::placeholder{
        color: $g-color-second;
      }
    }
  }
}
input[type=password]{
  + .recover{
    display: inline-block;
    font-size: 16px;
    color: $g-color-first;
    font-weight: 600;
    text-decoration: underline;
    padding-top: .5em;
  }
}
