include variables

include ../components/head
include ../components/card-service
include ../components/card-benefit
include ../components/card-member
include ../components/card-work
include ../components/newsletter
include ../components/navbar-behind
include ../components/navbar
include ../components/navbar-admin
include ../components/card-perfil
include ../components/tab
include ../components/card
include ../components/itinerary
include ../components/card-duer
include ../components/order
include ../components/order-detail
include ../components/modal-confirm
include ../components/row-bill
include ../components/summary-bill
include ../components/modal-bill
include ../components/modal-query-bill
include ../components/row-order
include ../components/row-order-past
include ../components/gallery-client
