include variables

include ../components/card-service
include ../components/card-benefit
include ../components/card-member
include ../components/card-work
include ../components/newsletter
include ../components/navbar-behind
include ../components/navbar
include ../components/navbar-admin
include ../components/card-perfil
include ../components/tab
include ../components/card
include ../components/itinerary
include ../components/card-duer
include ../components/order
include ../components/order-detail
