-
  var user = {
    'image': 'dist/img/image-user.png',
    'name': 'Callie perkings',
    'phone': '998 765 435',
    'email': 'woodrow.glover@howe.tv',

  };

-
  var duer = {
    'image': 'dist/img/image-user.png',
    'name': 'Callie perkings',
    'phone': '998 765 435',
    'dni' : '45544234'

  };

-
  var sald = {
    'dolars' : '124',
    'cents' : '50'
  };

-
  var itineraryOrder = [
    {
      'title' : 'COMPRA',
      'date' : '24/07 a las 12:00pm',
      'address' : 'Hacer compras en Plaza Vea'
    },
    {
      'title' : 'ENTREGA',
      'date' : '24/07 a las 4:20pm',
      'address' : '855 Hettinger Crossing'
    }
  ];

-
  var order = {
    'name' : 'Compras en Plaza Vea',
    'number' : '00345',
    'status' : 'EN PROCESO',
    'price' : {
      'buy' : '105.50',
      'ship' : '8.00',
      'comision' : '11.00',
      'total' : {
        'dolars' : '124',
        'cents' : '50'
      }
    },
    'delivery' : {
      'date' : '24/07/18 a las 04:24PM',
      'address' : '855 Hettinger Crossing'
    },
    'receive' : {
      'date' : '24/07/18 a las 04:24PM',
      'address' : '855 Hettinger Crossing'
    },
    'description' : 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'
  };

-
  var bill = {
    'id' : '0056',
    'client' : 'La Victoria Lab',
    'ruc' : '4578290498',
    'address' : 'Manuel Arrisueño 697 - La Victoria',
    'price' : {
      'dolar' : '373',
      'cent' : '50'
    },
    'date' : '14/08',
    'billLink' : '#!'
  };

-
  var billOrders = [
    {
      'id' : '0056',
      'date' : '14/07/18',
      'title' : 'Compras en Plaza Vea',
      'description' : '10 Mandarinas, 2k tomates, 1k arroz, 3 cajas leche fresca, 2 botellas yogurt, 8 cajas',
      'price' : {
        'dolar' : '373',
        'cent' : '50'
      }
    },
    {
      'id' : '0056',
      'date' : '14/07/18',
      'title' : 'Compras en Plaza Vea',
      'description' : '10 Mandarinas, 2k tomates, 1k arroz, 3 cajas leche fresca, 2 botellas yogurt, 8 cajas',
      'price' : {
        'dolar' : '373',
        'cent' : '50'
      }
    },
    {
      'id' : '0056',
      'date' : '14/07/18',
      'title' : 'Compras en Plaza Vea',
      'description' : '10 Mandarinas, 2k tomates, 1k arroz, 3 cajas leche fresca, 2 botellas yogurt, 8 cajas',
      'price' : {
        'dolar' : '373',
        'cent' : '50'
      }
    }

  ];

-
  var orderList = [
    {
      'bill' : '#billDetail',
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'pendiente',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      }
    },
    {
      'bill' : '#billDetail',
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'pendiente',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      }
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'proceso',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      }
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'proceso',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      }
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'proceso',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      }
    }
  ];

-
  var orderPastList = [
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'cerrado',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      },
      'orderLink' : 'add-order.html'
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'cerrado',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      },
      'orderLink' : 'add-order.html'
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'cerrado',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      },
      'orderLink' : 'add-order.html'
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'cerrado',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      },
      'orderLink' : 'add-order.html'
    },
    {
      'date' : '24/07/18',
      'time' : '04:24PM',
      'title' : 'Compras en Plaza Vea',
      'status' : 'cerrado',
      'price' : {
        'dolar' : '124',
        'cent' : '50'
      },
      'orderLink' : 'add-order.html'
    }
  ];
