-
  var user = {
    'image': 'dist/img/image-user.png',
    'name': 'Callie perkings',
    'phone': '998 765 435',
    'email': 'woodrow.glover@howe.tv',

  };

-
  var duer = {
    'image': 'dist/img/image-user.png',
    'name': 'Callie perkings',
    'phone': '998 765 435',
    'dni' : '45544234'

  };

-
  var sald = {
    'dolars' : '124',
    'cents' : '50'
  };

-
  var itineraryOrder = [
    {
      'title' : 'COMPRA',
      'date' : '24/07 a las 12:00pm',
      'address' : 'Hacer compras en Plaza Vea'
    },
    {
      'title' : 'ENTREGA',
      'date' : '24/07 a las 4:20pm',
      'address' : '855 Hettinger Crossing'
    }
  ];

-
  var order = {
    'name' : 'Compras en Plaza Vea',
    'number' : '00345',
    'status' : 'EN PROCESO',
    'price' : {
      'buy' : '105.50',
      'ship' : '8.00',
      'comision' : '11.00',
      'total' : {
        'dolars' : '124',
        'cents' : '50'
      }
    },
    'delivery' : {
      'date' : '24/07/18 a las 04:24PM',
      'address' : '855 Hettinger Crossing'
    },
    'receive' : {
      'date' : '24/07/18 a las 04:24PM',
      'address' : '855 Hettinger Crossing'
    },
    'description' : 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'
  }
